body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('prescriptions12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
}

.logout {
    text-align: right;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

.edit-form input {
    margin-right: 10px;
}
