body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    background-image: url('prescriptions12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    padding: 10px;
    color:aliceblue;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #336699;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

button:hover {
    background-color: #205987;
}
